@media only screen and (max-width: 835px) {
     header li {
        padding: 0 2% 0 2%;
     }

    .projectContainer {
        justify-content: space-around;
     }

    .projectItem {
        width:48%;
     }

    .arrow {
        display: none;
     }

     .projectDescription a {
        font-size: 4vw;
    }
}

@media only screen and (max-width: 711px) {
     .menu a {
        font-size: 1.2rem;
     }

    .recommendationContainer {
        width:100%;
     }

    .recomendationItem {
       width:100%;
     }
}

@media only screen and (max-width: 598px) {
    .projectItem {
        width:100%;
     }

    header {
        display: none;
     }

    #AboutMe, #MyProjects,#Recommendations,#ContactMe {
        margin-top:10px;
    }

    .profile {
        width:100%;
    }

    .selfIntro {
        width:100%;
        padding-left:10px;
    }

     .projectDescription a {
        font-size: 6vw;
    }
}