@media only screen and (max-width: 835px) {
     .arrow {
        display: none;
     }
}

@media only screen and (max-width: 711px) {
    .recommendationContainer {
        width:100%;
     }

    .recomendationItem {
       width:100%;
     }
}

@media only screen and (max-width: 598px) {

    header {
        display: none;
     }

    main, footer {
        width:100%;
    }

    #AboutMe, #MyProjects,#Recommendations,#ContactMe {
        margin-top:10px;
    }

    #AboutMe {
        grid-template-areas:
        "t t t t"
        "p p p p"
        "s s s s";
    }

}