*{
/*    border:1px solid red;*/
    box-sizing: border-box;
    font-family: sans-serif;
}

header, main, footer {
    width:90%;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

.title {
    text-align: center;
    width:100%;
    text-decoration-line: underline;
}

h4 {
    margin: 0;
}

header {
   background-color:#000;
   text-align: center;
   padding:5px 0 5px 0;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header li {
    display: inline-block;
    padding: 0 4% 0 4%;
}

.menu a {
    width:100%;
    text-decoration: none;
    font-size: 1.5rem;
    color:#fff;
}

#AboutMe, #MyProjects,#Recommendations,#ContactMe {
    margin-top:30px;
}

#AboutMe {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
}

.title,.profile,.selfIntro {
  position: relative;
  z-index: 1000;
}

#AboutMe::before {
    content: "";
    background: url('bg.jpg') 5% 20%;
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.profile {
    width:20%;
    text-align: center;
}

.selfIntro {
    width:65%;
    padding-left:10px;
}

.selfIntro h3 {
    margin-top: 0;
    line-height: 1.5;
}

.selfIntro a {
    padding:10px 35px 10px 10px;
    font-size: 1.3rem;
    background: url('downloadIcon.png') right no-repeat;
    text-decoration-line: none;
    border-radius: 5px;
    color: #000;
    background-color: #DCDCDC;
    border:1px solid #DCDCDC;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.6),
                inset -1px -1px 4px rgba(0,0,0,0.3);
    display: block;
    width:200px;
    line-height: 1
}

.selfIntro a:hover {
    box-shadow: 4px 4px 6px rgba(0,0,0,0.6),
                inset -2px -2px 6px rgba(0,0,0,0.6);
}

.projectContainer {
    margin:0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.projectItem {
    width:24%;
    margin-bottom: 4vh;
    filter: grayscale(80%);
    border: 1px solid #000;
    border-radius:15px;
    position: relative;
    margin:0 0 5px 0;
}

.projectItem img {
    width: 100%;
    border-radius:15px 15px 0 0;
}

.projectName {
    text-align: center;
    font-size: 1.5rem;
    margin: 5px;
}

.projectItem:hover.projectItem .projectDescription {
   cursor:pointer;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   overflow:hidden;
   text-overflow: ellipsis;
   -webkit-line-clamp: 3;
   text-align: center;
   width:100%;
   opacity: 1;
   transition: all .6s ease;
}

.projectItem:hover.projectItem img {
  -webkit-filter:blur(10px);
          filter:blur(10px);
}

.projectDescription a {
    color: rgba(0,0,0,0.6);
    font-weight: bolder;
    font-size: 2vw;
    display: inline-block;
    width:100%;
}

.projectDescription a p {
  line-height:1.5;
}

.projectDescription {
    position:absolute;
    left:0;
    top:10%;
    opacity: 0;
}

.recomendationItem {
  width:90%;
  margin: 0 auto;
}

.peopleBio {
  text-align:center;
}

.peopleBio p {
  padding-bottom:10px;
}

.inactive {
  border-radius: 100%;
  filter: blur(2px);
}

.imageList {
  position: relative;
}

.arrow {
  position: absolute;
  top:45%;
  font-size: 2rem;
}

.arrow:hover {
  cursor: pointer;
}

.prev {
 left:0;
}

.next {
 right:0;
}

.active {
  transform: scale(1.4,1.4);
  position: relative;
  filter: blur(0);
  z-index: 1000;
}

.peopleWords {
 font-size: 1.2rem;
}

.peopleWords p {
  margin:0;
  padding-left:5px;
  line-height: 1.5
}

.peopleWords p::first-letter {
  font-size: 160%;
  font-weight: bolder;
  color:#000;
}

.inlineText {
  color:#000;
  font-weight: bold;
  font-size:1.5rem;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}

footer {
  background-color:#000;
  color:#fff;
}

.email {
  text-align:center;
}

.email a {
  text-decoration: none;
  color:#fff;
}

.social-media {
  text-align: center;
}

.social-media a {
  margin:0 5px;
}

.social-media .fa {
  padding:10px;
  color:#fff;
  font-size: 2rem;
  background-color: #000;
}

.backToTop {
  position: fixed;
  bottom:15%;
  right:2%;
  font-size: 3rem;
  color: black;
  opacity: 0.6;
  z-index: 10000;
}

.backToTop a {
  text-decoration: none;
  color:#000;
}
